body {
    text-align: center;
    background-color: #262632;
    font-family: 'Signika', sans-serif;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#characterList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Fixed size of 220px */
    gap: 6px;
    justify-content: center;
}

.character {
    width: 220px; /* Set the fixed width */
    padding: 6px;
    margin: 6px;
    transition: opacity 0.6s;
    border-radius: 10px;
    background-color: #575c68;
    color: white;
    outline: none;
}

@media (min-width: 768px) {
    #characterList {
        grid-template-columns: repeat(3, 1fr); /* Three characters per row on larger screens */
    }
}

.element-icon {
    width: 30px;
}

.character-image {
    max-width: 100px;
}

#searchContainer {
    margin: 20px auto;
    text-align: center;
}

.character:hover {
    transform: translateY(-10px);
}

.character-details {
    list-style-type: none;
    text-align: center;
    margin: 1px 0;
}

#searchQuery {
    height: 40px;
    background-color: #495365;
    outline: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    font-size: 16px;
}

h1 {
    color: white;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0 10px;
}

.element-image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.element-filter-container {
    position: relative;
}

.remove-filter {
    position: center;
    top: 45px;
    background-color: transparent;
    color: white;
}

.element-filter-buttons {
    display: flex;
    justify-content: center;
}
